@charset "utf-8";
@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}
@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}
