/* .ghost {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: 10;
  background: url(../thumb.png) no-repeat center top / 100% auto;
} */

#container {
  aspect-ratio: 1.5;
}

.main-title {
  font-size: 3.36vh;
  top: 5.6vh;
  left: 8.5vw;
  line-height: 4vh;
  opacity: 0;
  transition: all 0.5s ease;
}

.main-title.show {
  opacity: 1;
}

.chart-title {
  font-size: 2.5vh;
  top: 22.8vh;
  left: 21.2vw;
  text-align: center;
  line-height: 3vh;
  opacity: 0;
  transition: all 0.5s ease;
}

.chart-title.show {
  opacity: 1;
}

.x-label {
  font-size: 1.72vh;
  left: 31.31vw;
  top: 74.1vh;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.x-label.show {
  opacity: 1;
}

.x-tick-labels {
  font-size: 1.72vh;
  left: 12.5vw;
  top: 68.1vh;
  height: 0vh;
  width: 0vw;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 6.68vh;
  opacity: 0;
  transition: all 0.5s ease;
}

.x-tick-labels.show {
  opacity: 1;
}

.x-tick-labels :first-child {
  padding-top: 0.95vh;
}

.x-tick-label {
  text-align: right;
  height: 1.88vh;
  width: 1.3vw;
}

.chart-legends {
  font-size: 1.72vh;
  width: 32vw;
  height: 2vh;
  top: 68.5vh;
  left: 19vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2.7vw;
  opacity: 0;
  transition: all 0.5s ease;
}

.chart-legends.show {
  opacity: 1;
}

.y-label {
  font-size: 1.72vh;
  transform: translate(-50%, -50%) rotate(-90deg);
  left: 9.6vw;
  top: 49.7vh;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.y-label.show {
  opacity: 1;
}

.chart {
  background: url("../images/chart-axises.png") no-repeat center top / 100% auto;
  top: 32.1vh;
  left: 14.9vw;
  height: 37vh;
  width: 40vw;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 2.53vw;
  top: -10vh;
  left: 4vw;
  height: 45.21vh;
  list-style: none;
}

.column {
  align-self: flex-end;
  width: 4.38vw;
  height: var(--percent);
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    0deg, 
    #0c4726 0%, 
    #3d715b 75%, 
    #73cee4 100%
  );
  box-sizing: border-box;
  padding-top: 5vh;
  text-align: center;
  animation: grow-up 1s ease-in-out;
}

.bar-label {
  animation: fade-text 2s ease-in-out;
}

.small-chart {
  background: url(../images/small-chart-axises.png) no-repeat center top / 100%
    auto;
  top: 32.5vh;
  left: 57.1vw;
  height: 36.4vh;
  width: 14vw;
}

.small-chart-columns {
  display: flex;
  flex-direction: row;
  gap: 2.53vw;
  top: -10.5vh;
  left: 1.4vw;
  height: 45.21vh;
}

.small-chart-column {
  align-self: flex-end;
  width: 4.38vw;
  height: var(--percent);
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    0deg, 
    #0c4726 0%, 
    #3d715b 75%, 
    #73cee4 100%
  );
  box-sizing: border-box;
  padding-top: 5vh;
  text-align: center;
  animation: grow-up 1s ease-in-out;
}

.chart-note {
  background: linear-gradient(-90deg, #5fb4c8 0%, 20%, #0e3d26 100%);
  left: 73.6vw;
  top: 45.8vh;
  width: 18vw;
  border-radius: 1.67vw;
  box-sizing: border-box;
  padding: 31.2px;
  opacity: 0;
  transition: all 0.5s ease;
}

.chart-note.show {
  opacity: 1;
}

.note-text {
  font-size: 1.875vh;
  width: 15.45vw;
  line-height: 2.2vh;
  text-align: center;
}

@keyframes grow-up {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--percent);
    opacity: 1;
  }
}

@keyframes fade-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Logo Override */
.icon {
  /* === Pixel fit ===
  bottom: 3.3vh;
  left: 8vw; */
  bottom: 3.1vh;
  left: 8.2vw;
}
.logo-crux {
  background: url("../global/images/nav/logo.png") no-repeat top left / 100%
    auto;
  margin-right: 2.2vw;
}

.bg-icon {
  margin-right: 2vw;
}

/* Dispplay ref icon */
.icon-ref.active {
  position: absolute;
  left: 6vw;
  bottom: 0.5vh;
  z-index: 10;
}

.bg-icon:has(.icon-ref.active) {
  z-index: 10;
}
