html * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-touch-action: none;
  -webkit-touch-action: none;
  touch-action: none;
  background: #fff;
}

body, input, select, textarea, button, .ui-btn{
  line-height: 1.3;
}

* {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "roboto";
  color: #5a5a5a;
}

body,
#container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  padding: 0;
  font-size: 1.5vw;
  aspect-ratio: 1.5;
}
#container{ position: relative }

sup,
sub {
  line-height: 0;
  font-size: 50%;
}

/**/
.po {
  position: absolute;
}

.cap {
  text-transform: uppercase;
}

.align-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.border { border: 1px solid red; }

/*Color ----------------*/
.white {
  color: #fff;
}

.green {
  color: #417b56;
}

/* Font-face class ----------------------*/
b,
strong,
.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

/* font-size------------------------------*/
h1 {
  font-size: 2.3vw;
  line-height: 1.2;
  top: 5vh;
  left: 9vw;
}

.normal-txt {
  font-size: 1.3vw;
}

.sm-txt {
  font-size: 1vw;
}

/* Wrapper------------------------------*/
#main-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.bg {
  background: url(../images/bg.png) no-repeat center;
  background-size: 100% 100%;
}

/* footer nav-bar */
#menu {
  width: 100%;
  bottom: 0;
  left: 0;
}

.logo-crux{
  background: url(../images/nav/logo.png) no-repeat center;
  background-size: contain;
  width: 12vw;
  height: 8vh;
  margin-right: 3vw;
}

.icon {
  display: flex;
  bottom: 3vh;
  left: 9vw;
}

.bg-icon {
  background: white;
  margin-right: 3vw;
  border-radius: 1vw;
  width: 4.5vw;
  height: 4.5vw;
}

.icon-home,
.icon-sitemap,
.icon-ref {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.icon-home {
  background-image: url(../images/nav/home.png);
  background-size: 2.6vw auto;
}

.icon-sitemap {
  background-image: url(../images/nav/sitemap.png);
  background-size: 2.4vw auto;
}

.icon-ref {
  background-image: url(../images/nav/ref.png);
  background-size: 2.4vw auto;
}

.icon-home.active {
  background-image: url(../images/nav/home-active.png);
}

.icon-sitemap.active {
  background-image: url(../images/nav/sitemap-active.png);
  z-index: 10;
}

.icon-ref.active {
  background-image: url(../images/nav/ref-active.png);
}

/* pop-up */
.ref-container {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
}

.ref-container::before{
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
}

.ref-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(../images/pu/bg.png) no-repeat center ;
  margin: 0 auto;
  position: absolute;
  font-size: 1.2vw;
}

.ref-close {
  position: absolute;
  right: 12.5vw;
  top: 13vh;
  width: 3.5vw;
  height: 3.5vw;
  background: url(../images/pu/close.png) no-repeat center center / 100% auto;
}

.ref-disable {
  opacity: 0.5;
}

/* content */
.ref-content div.title {
  font-size: 1.65vw;
  top: 25vh;
  left: 14vw;
}

.ref-content ul {
  position: absolute;
  list-style: decimal;
  top: 32vh;
  left: 15.5vw;
}

.ref-content ul li::marker {
  color: #417b56;
}

.ref-content li {
  margin-bottom: 1vh;
  line-height: 1.2;
}

.ui-loader {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-md {
  gap: 2em;
}

.gap-sm {
  gap: 1em;
}

.padding-md {
  padding: 2em;
}

.chart-container  {
  width: 100vw;
  height: 40vh;
}

.base-chart {
  width: 60vw;
  height: 40vh;
  background: url(../images/chart_base.png) no-repeat center;
  background-size: contain;
}

.data-container {
  width: fit-content;
  height: 100%;
}

.col-container {
  width: 100%;
  height: 100%;
}

.col {
  width: 3vw;
  height: 100%;
}