.ghost {
    width: 100vw;
    height: 100vh;
    opacity: 0.5; 
    z-index: 10;
    background: url(../thumb.png) no-repeat center center / contain;
    display: none;
}
.logo-crux {
    margin-right: 2vw;
}
.bg-icon {
    margin-right: 2.1vw;
}
.icon {
    bottom: 3.1vh;
    left: 8.2vw;
}
.popup {
   
    height: 5.3125vh;
    aspect-ratio: 241/68;
    background: url(../images/popup.png) no-repeat center center / contain;
    top: 10.5vh;
    left: 13.8vh;
    
}
.group.g2 .popup
{
    left: 39.6vh; 
}
.group.g3 .popup
{
    left: 65.5vh; 
}
.group.g4 .popup
{
    left: 91.4vh; 
}
.group.g5 .popup
{
    left: 117.3vh; 
}

.text
{
    font-size: 1.875vh;
    line-height: 2.25vh;
    text-align: center;
    top: 1.74vh;
    left: 3.9vh;
    color: white;
}

.img.img1 {
    height: 20vh;
    
    width: 18.828125vh;
    background: url(../images/anh1.png) no-repeat center center / contain;
    top: 16.85vh;
    left: 13.8vh;
    border-radius: 5vh;
    
}
.img.img2 {
    height: 20vh;
    
    width: 18.828125vh;
    background: url(../images/anh2.png) no-repeat center center / contain;
    top: 16.85vh;
    left: 65.5vh;
    border-radius: 5vh;
    
}

.img.img3 {
    height: 20vh;
    
    width: 18.828125vh;
    background: url(../images/anh3.png) no-repeat center center / contain;
    top: 16.85vh;
    left: 39.6vh;
    border-radius: 5vh;
    
}

.img.img4 {
    height: 20vh;
    
    width: 18.828125vh;
    background: url(../images/anh4.png) no-repeat center center / contain;
    top: 16.85vh;
    left: 91.4vh;
    border-radius: 5vh;
    
}

.img.img5 {
    height: 20vh;
    
    width: 18.828125vh;
    background: url(../images/anh5.png) no-repeat center center / contain;
    top: 16.85vh;
    left: 117.3vh;
    border-radius: 5vh;
    
}

.img {
    border-radius: 30px;
}


.g1
{
    opacity: 0;
    transition: all 0.5s ease;
}

.g1.show{
    opacity: 1;
}

.g2
{
    opacity: 0;
    transition: all 0.5s ease;
}

.g2.show{
    opacity: 1;
}

.g3
{
    opacity: 0;
    transition: all 0.5s ease;
}

.g3.show{
    opacity: 1;
}

.g4
{
    opacity: 0;
    transition: all 0.5s ease;
}

.g4.show{
    opacity: 1;
}

.g5
{
    opacity: 0;
    transition: all 0.5s ease;
}

.g5.show{
    opacity: 1;
}


